<ol class="breadcrumb" style="margin-right: 1%; margin-left: 1%; margin-top: 1%; border-radius: 16px;">
   <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
   <li class="breadcrumb-item active">Users</li>
 </ol>

      <!-- Users list table -->
 <div class="card" style="margin: 2%; border-radius: 30px;" id="main-container">
   <div class="card-body">
     <h2 class="card-title">Users List</h2>
     <div class="card-text">
       <form class="form-inline">
         <div class="form-group">
           <label for="title">Username:</label>
           <input id="title" name="title" type="search" class="form-control ml-2 mr-2" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel
           name="key" placeholder="Search Users...">
         </div>
 
         <button class="btn btn-primary">Search</button>
         <a (click)="onOpenModal(null, 'add')" data-toggle="modal" data-target="#exampleModal"class="btn btn-default">New <span class="sr-only">(current)</span></a>
       </form>
     </div>
     <div>
       <div class="alert alert-m-2"></div>
       <div class="table-responsive" *ngFor="let user of users">
         <table class="table table-centered table-hover mb-0" id="datatable">
           <thead>
           <tr>
             <th class="border-top-0" scope="col">Id</th>
             <th class="border-top-0" scope="col">Name</th>
             <th class="border-top-0" scope="col">E-mail</th>
             <th class="border-top-0" scope="col">Role</th>
             <th class="border-top-0" scope="col" style="width:120px"></th>
           </tr>
           </thead>
           <tbody>
           <tr>
             <td>{{user?.id}}</td>
             <td>{{user?.username}}</td>
             <td>{{user?.email}}</td>
             <td>{{user?.role.name}}</td>
             <td style="white-space: nowrap"> 
               <a class="btn btn-secondary">Edit</a>&nbsp;
               <button class="btn btn-danger">Delete</button>
             </td>
           </tr>
           </tbody>
         </table>
       </div>
     </div>
 </div>
<!-- Add User -->
 <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
          <div class="form-group">
             <label for="username">Username</label>
             <input type="text" ngModel name="username" class="form-control" id="username" placeholder="Username" required>
          </div>
          <div class="form-group">
             <label for="password">Password</label>
             <input type="text" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
          </div>
          <div class="form-group">
             <label for="email">Email Address</label>
             <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

   <!-- Notification for no users -->
<div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
     <h4 class="alert-heading">NO USERS!</h4>
     <p>No Users were found.</p>
   </div>
</div>