<!--Nav Bar -->
<ol class="breadcrumb" style="margin-right: 1%; margin-left: 1%; margin-top: 1%; border-radius: 16px;">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/profile">User</a></li>
  <li class="breadcrumb-item active">Admin Page</li>
</ol>

<mat-tab-group mat-align-tabs="start">
  
  <!-- Users Page -->
  <mat-tab label="Users" >
    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field appearance="legacy" fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Find user">
      </mat-form-field>
      <button color="primary" style="position: relative; left: 70%;" (click)="openAddDialog()" mat-icon-button>
        <mat-icon>data_saver_on</mat-icon>
      </button>
    </div>

    <!-- Sorting -->
    <div class="mat-elevation-z5" >
  <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">

    <!-- Column Id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Column Username -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
   
    <!-- Column Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
   
    <!-- Column Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> 
        <span *ngFor="let role of element.roles">{{role.name}}</span>{{element.role}} </td>
    </ng-container>
   
    <!-- Action Update -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editRecord(element.id, element.username, element.password, element.email, element.role)">
            <mat-icon class="mat-18">update</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Action Delete -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteUserRecord(element.id, element.username, element.email, element.role)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
     <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]">
     </mat-paginator>
  </div>
</mat-tab>

<!-- Graduates Page-->

  <mat-tab label="Graduates">

    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field appearance="legacy" fxFlex="40%">
        <input matInput type="text" (keyup)="doFilterGraduate($event.target.value)" placeholder="Find graduated">
      </mat-form-field>
      <button color="primary" style="position: relative; left: 74%;" (click)="openAddGraduateDialog()" mat-icon-button>
        <mat-icon>data_saver_on</mat-icon>
      </button>
    </div>
    <div class="mat-elevation-z5" >
      <table mat-table [dataSource]="dataSourceGraduate" matSort matSortStart="desc" (matSortChange)="customSortGraduate($event)">
      
        <!-- Column Id -->    
        <ng-container matColumnDef="idGraduate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Column First Name -->    
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
        <!-- Column Middle Name -->    
        <ng-container matColumnDef="middleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
          <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
        </ng-container>

        <!-- Column Last Name -->    
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Column Email -->
        <ng-container matColumnDef="emailGraduate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <!-- Column Job Title -->
        <ng-container matColumnDef="jobTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
          <td mat-cell *matCellDef="let element"> 
            <ng-container  *ngFor="let work of element.works; let i =index">
              <i *ngIf ="i>=element.works.length -1">
              {{work.company}}</i>
              </ng-container>
        </ng-container>

        <!-- Column Gender -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Action Update -->
        <ng-container matColumnDef="workButton">
          <th mat-header-cell *matHeaderCellDef> Add work </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openWork(element.id, element.works)">
              <mat-icon>work_outline</mat-icon>
            </button>
          </td>
        </ng-container>   


        <!-- Action Update -->
        <ng-container matColumnDef="updateWork">
          <th mat-header-cell *matHeaderCellDef> Update Works</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openUpdateWork(element.id, element.works)">
              <mat-icon>mode_edit</mat-icon>
            </button>
          </td>
        </ng-container> 
        
        <!-- Action Update 
            TODO: Must add (click) -->
        <ng-container matColumnDef="updateGraduate">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="editRecordGraduate(element.id, element.firstName, element.middleName,
                                                            element.lastName, element.email, element.works, element.gender, element.imageUrl)">
                <mat-icon class="mat-18">update</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <!-- Action Delete 
              TODO: Must add (click) -->
        <ng-container matColumnDef="deleteGraduate">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deleteGraduate(element.id, element.firstName, element.middleName,
                                                            element.lastName, element.email, element.jobTitle, element.gender, element.imageUrl)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsGraduate"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsGraduate;"></tr>
      </table>
      <!-- TODO: Must to FIX-->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]">
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>