<div class="container" style="width: 500px; height: auto;">
  <h3 mat-dialog-title>Користувач: {{data.username}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput #input placeholder="Id" [(ngModel)]="data.id" name="id" >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field>
        <mat-label>Іи'я користувача</mat-label>
        <input matInput #input placeholder="Ім'я користувача" [(ngModel)]="data.username" name="username" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password" name="password" required >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
       <!-- <textarea matInput #input class="form-control" placeholder="password" [(ngModel)]="data.password" name="password" required ></textarea>-->
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    
    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput #inputstate placeholder="email" [(ngModel)]="data.email" name="email" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Роль</mat-label>
         <mat-select formControlName="selectedValue" (change)="GetRoleById($event)" [(ngModel)]="selectedValue" name="role">
           <mat-option [value]= "role" *ngFor="let role of rolesList">
             {{role.name}}
           </mat-option>
         </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="updateUser(formControl.value)">Зберегти</button>
      <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Відмінити</button>
    </div>
  </form>
</div>