<div class="container">
    <h3 mat-dialog-title>Add new User</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <textarea matInput #input placeholder="Username" [(ngModel)]="data.username" name="username" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
    <div class="form">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password" name="password" required >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput #inputstate placeholder="email" [(ngModel)]="data.email" name="email" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <mat-label>Role</mat-label>
           <mat-select formControlName="selectedValue" (change)="GetRoleById($event)" [(ngModel)]="selectedValue" name="role">
             <mat-option [value]= "role" *ngFor="let role of rolesList">
               {{role.name}}
             </mat-option>
           </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="onSubmit()">Save</button>
        <button mat-raised-button color="accent"  (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  