<div class="container">
    <h3 mat-dialog-title>Add new work</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Graduated Id" [(ngModel)]="data.graduatedId" name="graduatedId" >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

        <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="company" [(ngModel)]="data.company" name="company" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="position" [(ngModel)]="data.position" name="position" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="startWork" [(ngModel)]="data.startWork" name="startWork" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input class="form-control" placeholder="endWork" [(ngModel)]="data.endWork" name="endWork" required ></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>       
        
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="addWork(data.graduatedId)">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  