<div class="container">
    <h3 mat-dialog-title>Додати нову роботу</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" style="width: 300px;">
        <div class="form">
            <mat-form-field>
              <mat-label>Компанія</mat-label> 
              <input matInput #input placeholder="company" [(ngModel)]="data.company" name="company" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
              <mat-label>Позиція</mat-label> 
              <input matInput #input placeholder="position" [(ngModel)]="data.position" name="position" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
              <mat-label>Рік початку роботи</mat-label> 
              <input matInput #input placeholder="startWork" [(ngModel)]="data.startWork" name="startWork" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
              <mat-label>Кінець роботи</mat-label> 
              <input matInput #input placeholder="endWork" [(ngModel)]="data.endWork" name="endWork" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>       
        
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="addWork(data.graduatedId)">Зберегти</button>
        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Скасувати</button>
      </div>
    </form>
  </div>
  