<div class="container" style="width: 400px; height: auto;">
    <h3 mat-dialog-title>Оновити роботу: {{data.company}}, Позиція: {{data.position}}</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput #input placeholder="Id" [(ngModel)]="data.id" name="id" >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field>
          <mat-label>Компанія</mat-label>
          <input matInput #input placeholder="company" [(ngModel)]="data.company" name="company" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
   
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field>
          <mat-label>Позиція</mat-label>
          <input matInput #input placeholder="position" [(ngModel)]="data.position" name="position" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    
     <!--Textarea for demo purposes-->
     <div class="form">
        <mat-form-field>
            <mat-label>Рік початку</mat-label>
          <input matInput #input placeholder="startWork" [(ngModel)]="data.startWork" name="startWork" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    
     <!--Textarea for demo purposes-->
     <div class="form">
        <mat-form-field>
          <mat-label>Рік закінчення</mat-label>
          <input matInput #input placeholder="endWork" [(ngModel)]="data.endWork" name="endWork" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="updateWork(formControl.value)">Зберегти</button>
        <button mat-raised-button color="accent" (click)="onNoClick()" tabindex="-1">Скасувати</button>
      </div>
    </form>
  </div>