<!--Nav Bar -->
<ol class="breadcrumb" style="margin-right: 1%; margin-left: 1%; margin-top: 1%; border-radius: 16px;">
    <li class="breadcrumb-item"><a routerLink="/">Головна</a></li>
    <li class="breadcrumb-item"><a routerLink="/graduated">Випускники</a></li>
    <li class="breadcrumb-item active">Діаграми</li>
  </ol>
  
<mat-tab-group>
    <mat-tab label="Діаграма позицій">
        <div>
            <div>
                <div class="chart">
                    <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
        <div>
            <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Переключити легенду</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()" style="margin-bottom: 20px;">Змінити позицію легенди</button>
        </div>
    </mat-tab>
    <mat-tab label="Діаграма технологій">
        <div>
            <div>
                <div class="chart">
                    <canvas baseChart
                    [data]="pieChartTechnologyData"
                    [labels]="pieChartTechnologyLabels"
                    [chartType]="pieChartTechnologyType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartTechnologyPlugins"
                    [colors]="pieChartTechnologyColors"
                    [legend]="pieChartTechnologyLegend">
                    </canvas>
                </div>
            </div>
        </div>
        <div>
            <button mat-button mat-raised-button color="primary" (click)="pieChartTechnologyLegend=!pieChartTechnologyLegend">Переключити легенду</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()" style="margin-bottom: 20px;">Змінити позицію легенди</button>
        </div>
    </mat-tab>
</mat-tab-group>