<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3f51b5;">
    <img _ngcontent-voc-c11="" alt="Angular Logo" src="http://is.nuft.edu.ua/img/logo/acs.png" width="40">
     <a mat-button i18n="Name@@AppName" href="/#" class="navbar-brand">Register Of Graduates</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a mat-button i18n="home@@homePage" href="/home" class="btn" style="background-color: #3f51b5; color: white;" routerLink="home">Головна </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a mat-button i18n="admin board@@adminBoard" href="/admin" class="btn" style="background-color: #3f51b5; color: white;" routerLink="admin">Адмін панель</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a mat-button i18n="moderator board@@moderBoard" href="/mod" class="btn" style="background-color: #3f51b5; color: white;" routerLink="mod">Сторінка модератора</a>
        </li>
        <li class="nav-item">
          <a mat-button i18n="users@@users" href="/user" class="btn" style="background-color: #3f51b5; color: white;"*ngIf="isLoggedIn" routerLink="user">Користувачі</a>
        </li>
        <li class="nav-item">
         <a mat-button i18n="graduates@@graduates" href="/graduated" class="btn" style="background-color: #3f51b5; color: white;" *ngIf="isLoggedIn" routerLink="graduated">Випусники</a>
       </li>
       <li class="nav-item">
        <a mat-button i18n="charts@@charts" href="/chart" class="btn" style="background-color: #3f51b5; color: white;" *ngIf="isLoggedIn" routerLink="chart">Статистика</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
         <a mat-button i18n="sign in@@signin" href="/register" class="btn" style="background-color: #3f51b5; color: white;" routerLink="register">Реєстрація</a>
        </li>
        <li class="nav-item">
         <a mat-button i18n="login@@login" href="/login" class="btn" style="background-color: #3f51b5; color: white;" routerLink="login">Вхід</a>
       </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
       <li class="nav-item">
         <a mat-button href="/profile" class="btn" style="background-color: #3f51b5; color: white;" routerLink="profile">{{ username }}</a>
       </li>
       <li class="nav-item">
         <a mat-button i18n="logout@@logout" class="btn" style="background-color: #3f51b5; color: white;" (click)="logout()">Вихід</a>
       </li>
     </ul>
    </div>
  </nav> 
</div> 

<div class="container">
  <router-outlet></router-outlet>
</div>
<div style="background-color: #3f51b5;" class="footer" #footer>
  <div class="about">
    <button i18n="about" [routerLink]="['/about']" routerLinkActive="router-link-active"  mat-button style="margin-top: 20px; margin-left: 20px;">Про автора</button>
  </div>
  <div class="center" style="text-align: center;">
  <p i18n="license@@license"> Code licensed under an <a href="license" title="License text">MIT-style License</a>. Created by @Roman Sulymka.
  </p>
</div>
<div class="example-button-row">
  <div class="example-flex-container"  style="margin-left: 1650px;">
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>facebook</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
        <span class="iconify" data-icon="mdi-instagram" data-inline="false" data-width="24"></span>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" ng-href="http://is.nuft.edu.ua/">
        <mat-icon>public</mat-icon>
      </button>
    </div>
  </div>
</div>
</div>