.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    color: white;
    transform: translateY(-7px);
  }
  
  .example-small-box, .example-large-box {
    display: flex;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    width: 525px;
    height: 380px;
  }
  
  .example-large-box {
    height: 600px;
    width: 600px;
  }

  