<ol class="breadcrumb" style="margin-right: 1%; margin-left: 1%; margin-top: 1%; border-radius: 16px;">
  <li class="breadcrumb-item"><a routerLink="/">Головна</a></li>
  <li class="breadcrumb-item active">Основні переваги</li>
</ol>
<body style="margin-top: 50px;">

  <mat-card style="margin-bottom: 50px; text-align: center; height: 500px;">
    <div>
        <mat-label style="text-align: center; font-size: 220%;">Система обліку інформації про випускників кафедри ІС НУХТ</mat-label>
    </div>
      <mat-card _ngcontent-iii-c135="" class="mat-card mat-focus-indicator docs-guide-card inline-block" style="margin-top: 100px;">
        <mat-card-title _ngcontent-iii-c135="" class="mat-card-title">Випускники</mat-card-title>
        <div _ngcontent-iii-c135="" class="docs-guide-card-divider">
        </div>
        <mat-card-content _ngcontent-iii-c135="" class="mat-card-content docs-guide-card-summary"> Перегляд випускників на сайті!</mat-card-content>
      </mat-card>

      <mat-card _ngcontent-iii-c135="" class="mat-card mat-focus-indicator docs-guide-card inline-block" style="margin-left: 20px;">
        <mat-card-title _ngcontent-iii-c135="" class="mat-card-title">Користувачі </mat-card-title>
        <div _ngcontent-iii-c135="" class="docs-guide-card-divider">
        </div>
        <mat-card-content _ngcontent-iii-c135="" class="mat-card-content docs-guide-card-summary"> Перегляд користувачів системи!</mat-card-content>
      </mat-card>

      <mat-card _ngcontent-iii-c135="" class="mat-card mat-focus-indicator docs-guide-card inline-block" style="margin-left: 20px;">
        <mat-card-title _ngcontent-iii-c135="" class="mat-card-title">Статистика </mat-card-title>
        <div _ngcontent-iii-c135="" class="docs-guide-card-divider">
        </div>
        <mat-card-content _ngcontent-iii-c135="" class="mat-card-content docs-guide-card-summary"> Перегляд статистики по компанія та технологіях!</mat-card-content>
      </mat-card>

      <mat-card _ngcontent-iii-c135="" class="mat-card mat-focus-indicator docs-guide-card inline-block" style="margin-left: 20px;">
        <mat-card-title _ngcontent-iii-c135="" class="mat-card-title">Адміністрування </mat-card-title>
        <div _ngcontent-iii-c135="" class="docs-guide-card-divider">
        </div>
        <mat-card-content _ngcontent-iii-c135="" class="mat-card-content docs-guide-card-summary"> Зручне редагування да довавання даних!</mat-card-content>
      </mat-card>
    </mat-card>
</body>