<div class="container">
   <header class="jumbotron">
     <p>{{ content }}</p>

   </header>

 </div>
 <body>
  <main _ngcontent-iii-c135="" focusonnavigation="" aria-label="Guide list" id="guide-list" class="docs-guide" tabindex="-1" style="outline: currentcolor none medium; margin-bottom: 50px;">
    <mat-card _ngcontent-iii-c135="" class="mat-card mat-focus-indicator docs-guide-card">
      <mat-card-title _ngcontent-iii-c135="" class="mat-card-title">Перегляд випускників</mat-card-title>
      <div _ngcontent-iii-c135="" class="docs-guide-card-divider">
      </div>
      <mat-card-content _ngcontent-iii-c135="" class="mat-card-content docs-guide-card-summary"> Переглянути випускників на сайті!</mat-card-content>
    </mat-card>
    <mat-card _ngcontent-axo-c136="" class="mat-card mat-focus-indicator docs-guide-card">
      <mat-card-title _ngcontent-axo-c136="" class="mat-card-title">Schematics</mat-card-title>
      <div _ngcontent-axo-c136="" class="docs-guide-card-divider"></div>
      <mat-card-content _ngcontent-axo-c136="" class="mat-card-content docs-guide-card-summary"> Use schematics to quickly generate views with Material Design components. </mat-card-content>
    </mat-card>
  </main>
  <a _ngcontent-axo-c136="" class="docs-guide-item ng-star-inserted">

  </a>
</body>